.Dashboard {
  flex: 0.8;
  height: 100vh;
  overflow: auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  box-sizing: border-box;
}

.DashboardLeft {
  width: 70%;
  padding: 30px;
  height: 100%;
  height: fit-content;
  box-sizing: border-box;
  background-color: #f4f6fa;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* .DashboardHeader {
  display: flex;
} */
.DashboardHeaderTitle {
  font-size: 26px;
  font-weight: 600;
}
.DashboardHeaderLargeTitle {
  font-size: 56px;
  font-family: 600;
}
.alertInfo {
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  font-size: 16px;
  background-color: white;
}
.DashboardUploadResume {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.DashboardUploadResumeBlock {
  width: 65%;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 22px;
}
.DashboardInputfeild {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadbutton {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 25px;
  color: white;
  font-weight: 700;
  background: linear-gradient(90deg, #fca326, #f94a6b);
  border-radius: 30px;
  border: 2px solid black;
}

input {
  display: none;
}
.JobDescriptionSection{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    box-sizing: border-box;

}
.textarea{
 outline: none;
    border-radius: 20px;
    border: 2px solid rgb(14, 14, 97);
    padding: 10px 20px;
    box-sizing: border-box;
    width: 65%;
    resize: none;
}
.analyzeAIbutton{
     width: 150px;
    height: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(90deg, #fca326, #f94a6b);
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.DashboardRight {
    width: 25%;
    height: fit-content;
    box-sizing: border-box;
    background-color: #f4f6fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.DashboardRightTopCard{
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.DashboardRightTopCard div:first-child{
    font-size: 22px;
    font-weight: 700;
    /* margin-bottom: 15px; */
}
.profileImg{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 15px 0;
}




@media screen and (max-width:780px){
    .Dashboard{
        flex-direction: column;
    }
    .DashboardLeft{
        width: 100%;
    }
    .DashboardHeader{
        font-size: 26px;
    }
    .DashboardHeaderTitle{
        font-size: 34px;
    }
    .DashboardRight{
        width: 100%;
        margin-top: 30px;
    }
    .DashboardUploadResume{
        flex-direction: column;
        padding: 20px;
    }
    .DashboardUploadResumeBlock{
        width: 100%;
    }
    .DashboardInputfeild{
        width: 100%;
    }
    label{
        width: 100%;
        text-align: center;
    }
    .JobDescriptionSection{
        flex-direction: column;
        gap: 20px;
    }
    .textarea{
        width: 100%;
    }
    .analyzeAIbutton{
        border-radius: 30px;
        width: 100%;
        height: fit-content;
        padding: 15px;
        box-sizing: border-box;
    }
}